@import "tailwindcss";

/* Stili del wallet */
@import '@solana/wallet-adapter-react-ui/styles.css';

/* Salvagente Globale Tema Scuro */
html, body {
  background-color: #050505 !important;
  color: #f3f4f6 !important;
  margin: 0;
  padding: 0;
}