@import "tailwindcss";

/* Stile per i componenti del wallet Solana */
@import '@solana/wallet-adapter-react-ui/styles.css';

/* La tua palette personalizzata tradotta per Tailwind V4 */
@theme {
  --color-background: #050505;
}

/* Salvagente d'emergenza: forza il colore di base per l'intera app */
html, body {
  background-color: #050505 !important;
  color: #f3f4f6 !important;
  margin: 0;
  padding: 0;
}